:root {
    --white:
}
*, *>* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #ffac81;
    background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%);
    min-height: 100vh;
}
.container {
    width: 320px;
    height: 600px ;
    background-color: red;
    overflow: hidden;
    border-radius: 30px;
    padding: 20px;
    background-color: #0b0704;
    box-shadow: 6px 12px 20px #0b0704;
    position: relative;
}
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header-nav .logo {
    margin-right: auto;
}
.header-nav .logo i {
    color:#935622 ;
    font-size: 20px;
    
}
.header-nav .more-action   {
    color: #ababab;
    font-size: 14px;
    margin-left: 15px;
    cursor: pointer;
}
.header-nav .add-btn  {
    color: #ababab;
    font-size: 18px;
    justify-self: end;    
    cursor: pointer;
}
.header-nav .more-action:active, .header-nav .add-btn:active  {
    color: #e5e5e5
}
.header-dsc {
    color: #c5c5c5;
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
    margin: 20px 0 10px;
}
.song-list .song-list-header {
    width: 50%;
    text-align: center;
    color: #b5b5b5;
    padding: 10px;
    /* border-bottom: 4px solid #935622 ; */
    position: relative;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
}
.song-list .song-list-header::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    background-color: #935622 ;
    border-radius: 2px;
}
ul {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 25px;
    height: 400px;
    overflow-y: auto;
    justify-items: center;
    align-items: center;
    padding-bottom: 120px;
}
ul::-webkit-scrollbar{
    width: 0;
    display: none;
    appearance: none;
    -webkit-appearance: none;
}
li {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1 ;
    /* border: 1px solid #b5b5b5; */
}
li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play-section {
    position: absolute;
    height: 80px;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: rgba(100,100,100, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:  0 7px 0 17px;
    display:flex;
    flex-direction: row;
    align-items:center;
    
}
.song-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    
}
.play-section .song-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    animation: spin 5s linear infinite;
    animation-play-state: paused;
}
.play-section .song-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play-section .song-detail {
    justify-self: flex-start;
    color: #d5d5d5;
    font-weight: 700;
    flex: 1;
    font-size: 12px;
}
.play-section .song-detail .song-name {
    width: 120px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;
}
.play-section .song-detail .song-author {
    color: #d3d3d3;
    font-weight: 400;
    width: 120px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1; 
   -webkit-box-orient: vertical;
}
.play-section .main-play-button, .play-section .control-button {
    width: 35px;
    height: 35px;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d5d5d5;
    font-size: 16px;   
    position: relative;
    user-select: none;
}
.control-button:active, .close-btn:hover {
    color: #e5e5e5;
}

.play-section .main-play-button {
    background-color: #0b0704;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

.play-section .control-button {
    font-size: 20px;
    opacity: 0.6;
    font-weight: 200;
    margin-left: 8px;
    cursor: pointer;
}
.expand-section {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -590px;
    height: 580px;
    border-radius: 25px;
    overflow: hidden;
    background-color: rgba(100,100,100, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 2;
    transition: all 0.5s ease-in-out;
}
.expand-section.active {
    bottom: 0;
}
.expand-section .header {
    width: 100%;
    position: relative;
    height: 320px;
}
.expand-section .header .thumbnail {
    width: 230px;
    height: 230px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.expand-section .header .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50%  {
        transform: rotate(180deg);
    }
    100%  {
        transform: rotate(360deg);
    }
}
.expand-section .header .thumbnail img::before {
    content: "";
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 22% 41% 22% 30% / 31% 46% 22% 28% ;
    position: absolute;
    z-index: 5;
}

.expand-section .header .background {
    width: 220px;
    height: 250px;
    position: absolute;
    top: 35px;
    left: 49%;
    transform: translateX(-50%);
    background-image: linear-gradient(0deg, #fd7ca5b4 0%, #ee59cd 100% );
    opacity: 0.9;
    border-radius: 53% 76% 84% 49% / 49% 57% 33% 51% ;
    animation: change_border 1.5s linear 3s infinite;
    animation-play-state: paused;
}
.expand-section .header .background-child {
    background-image: linear-gradient(30deg, #4db1e7 0%, #3aaded 100%);
    width: 230px;
    height: 230px;
    position: absolute;
    top: 20px;
    left: 55%;
    transform: translateX(-50%);
    border-radius: 50% 50% 36% 64% / 50% 67% 33% 50% ;
    animation: change_border 1.5s linear infinite ;
    animation-play-state: paused;

}
@keyframes change_border {
    50% {
        border-radius: 53% 52% 34% 63% / 49% 42% 33% 61%
    }
    75% {
        border-radius: 41% 52% 34% 63% / 52% 42% 42% 61%
    }    
}
.expand-section .information {
    width: 100%;
    padding: 15px 30px;
    color: #e5e5e5;
}
.expand-section .author-price {
    display: flex;
    margin-top: 3px;
    font-size: 15px;
}
.expand-section .author {
    color: #b5b5b5;
    margin-right: 10px;
}
.expand-section .seek-section {
    padding: 0px 30px;
    width: 100%;
    height: 20px;
    position: relative;
}
input[type=range] {
    height: 3px;
    appearance: none;
    -webkit-appearance: none;
    width: calc(100% - 60px);
    top: 2px;
    transform: translateY(-50% -50%);
    background-color: #b5b5b58f;
    cursor: pointer;
    position: absolute;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 10px; 
    height: 0px; 
    background-color: #e5e5e5;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.15s linear;
}
input[type=range]:hover::-webkit-slider-thumb {
    height: 10px;
}
.progress {
    position: relative;
    height: 3px;
    width: 100%;
    top: 2px;
    transform: translateY(-50% -50%);
    background-color: #e5e5e5;
    transition: height 0.1s linear;
    cursor: pointer;
    pointer-events: none;
}
input[type=range]:hover ~ .progress {
    height: 4px;
    top: 1px;
}

.expand-section .time-section {
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #b5b5b5;

}
.expand-section .control-section {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e5e5e5;
    font-size: 16px;
}
.expand-section .control-section >* {
    cursor: pointer;
}
.expand-section .play-pause-btn {
    text-align: center;
    line-height: 50px;
    background-color: #e5e5e5;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #2f2d29;
}

.expand-section .loop-btn, .expand-section .close-btn {
    color: rgba(255,255,255,0.5);
}
.expand-section .next-btn, .expand-section .prev-btn {
    font-size: 20px;
}